.place__paragraphs {
    grid-area: content;
    max-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-height: 800px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        width: 288px;
    }
}

