.cover__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 320px) {    
    .cover__container {
        width: 320px;
    }
}

@media screen and (max-width: 768px) {    
    .cover__container {
        width: 768px;
    }
}