.lead__image {
    max-width: 984px;
    filter: grayscale(100%);
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
      margin-bottom: 55px;
    }
  }
  
  @media screen and (max-width: 984px) {
    .lead__image {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 767px) {
    .lead__image {
      width: 100%;
      margin-bottom: 44px;
    }
  }
  