.intro__text {
    width: 722px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142%;
    color: white;
    align-self: flex-start;
  }
  
  @media screen and (max-width: 767px) {
    .intro__text {
      width: 100%;
      line-height: 125%;
      margin-bottom: 0;
    }
  }