.intro {
  max-width: 1017px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 90%;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-bottom: 38px;
  }
}