.cover__background {
    position: absolute;
    z-index: 0;
    opacity: .8;
}

.cover__background:hover {
    opacity: .3;
}

.button:hover ~ .cover__background {
    opacity: .3;
}

@media screen and (max-width: 768px) {

    .cover__background {
        width: 768px;
        height: 746px;
    }
    
}

@media screen and (max-width: 320px) {

    .cover__background {
        width: 320px;
        height: 254px;
    }
    
}