.place {
    width: 984px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title website"
    "image content"
    "button .";
    row-gap: 48px;
    padding-bottom: 80px;
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-areas: 
        "title"
        "website"
        "image"
        "content"
        "button";
    }
}

@media screen and (max-width: 768px) {
    .place {
        width: 720px;
    }
}