.place__url-heading {
    width: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 15px;
        width: 288px;
    }
}

