* {
    margin: 0;
    padding: 0;
  }

.places {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 92px;
}

.place {
    width: 984px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title website"
    "image content"
    "button .";
}

.place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 48px;
    grid-area: title;
}

.place__image {
    margin-bottom: 48px;
    width: 460px;
    height: 460px;
    grid-area: image;
}

.place__button { 
    background: #0278FE;
    border-radius: 4px;
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    grid-area: button;
}

.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 48px;
    grid-area: website;
}

.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
}

.place__artist {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place__paragraphs {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
    max-height: 450px;
}

.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .place {
      max-width: 720px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
  
    .place__image {
      max-height: 340px;
      max-width: 340px;
    }

    .place__paragraphs {
        max-height: 680px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }

  }

@media screen and (max-width: 320px){

    .places {
        padding-bottom: 64px;
    }

    .place {
        max-width: 288px;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "content"
        "button"
        ".";
        margin-bottom: 16px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .place__website {
        max-width: 288px;
        margin-bottom: 30px;
    }

    .place__image {
        max-width: 288px;
        margin-bottom: 0px;
    }

    .place__paragraphs {
        max-width: 288px;
        max-height: 900px;
    }

    .place__button {
        max-width: 288px;
    }

    .place__link {
        font-size: 14px;
        line-height: 17px;
    }
    
  }